.output-area {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-font-family: monospace;
}

.output-area .scroll-pane {
    -fx-background-color: transparent;
}

.output-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.output-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.stripey {
    -fx-fill: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}

.with-borders {
    -fx-border-color: black;
    -fx-border-width: 2px;
}
/** thin scrollbar, mac style **/

.scroll-pane-thin .scroll-bar:vertical {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-insets: 0, 0 1 0 1;
    -fx-padding: 0 0 0 5;
}

.scroll-pane-thin .scroll-bar:vertical > .thumb {
    -fx-background-color: #00000066;
}

.scroll-pane-thin .scroll-bar > .increment-button, .scroll-pane-thin .scroll-bar > .decrement-button {
    -fx-padding: 0 5 0 5;
}

.scroll-pane-thin .increment-button > .increment-arrow, .scroll-pane-thin .decrement-button  > .decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
}
